:root {
    @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
    --body-off-white-bgc: #eeeeee;
    --off-black: #080808;
    --border-off-black: #222222;
    --selection-yellow: rgba(255, 195, 0, 75%);
    --selection-green: rgba(30, 255, 0, 0.75);
    --tomato-red: #c50000;

    --playing-grid-width: 500px;
    --playing-grid-height: 450px;
    --black-border: 5px solid var(--border-off-black);

    --preferred-font: 'Raleway';
}

*::selection {
    background-color: var(--selection-yellow);
}

body {
    background: var(--body-off-white-bgc);
}

/* Title CSS Source: https://codepen.io/vedadesigns/pen/GPxYZg */

.title {
    position: relative;
    width: 90%;
    max-width: 750px;
    padding: 2em;
    margin: 0.5rem auto;
}

.title h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: var(--preferred-font), sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: var(--off-black);
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.title h1 {
    position: relative;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: uppercase;
    width: 150px;
    text-align: center;
    margin: auto;
    white-space: nowrap;
    border: 2px solid var(--border-off-black);
    padding: 5px 11px 3px 11px;
}

.title h1:before,
.title h1:after {
    background-color: var(--tomato-red);
    position: absolute;
    content: '';
    height: 7px;

    width: 7px;
    border-radius: 50%;
    bottom: 12px;
}

.title h1:before {
    left: -20px;
}

.title h1:after {
    right: -20px;
}

.title {
    scale: 150%;
    transition: transform 0.2s ease-out;
}

.title:hover {
    transform: scale(105%);
    cursor: default;
}

.vs-selector {
    position: absolute;
    top: 18%;
    left: 49.5%;
    transform: translate(-50%, -50%);
    transition: scale 0.1s ease-in-out;
}

.vs-selector:hover {
    scale: 105%;
}

.vs-selector span {
    font-family: var(--preferred-font), sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
}

.vs-selector select {
    width: 160px;
    height: 40px;

    border-radius: 0%;
    border: var(--black-border);
    border-width: 3px;
    background-color: var(--body-off-white-bgc);

    padding: 0;
    margin: 0;

    font-family: var(--preferred-font), sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;

    cursor: pointer;
}

.current-move {
    font-family: var(--preferred-font), sans-serif;
    font-size: 0.95rem;
    font-weight: 600;

    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 1px solid var(--off-black);
    padding: 0.5rem;
    transition: all 0.1s ease-in-out;
}

.current-move #move {
    font-size: 0.75rem;
    font-weight: 300;
    margin-left: 2.5px;

    position: relative;
    bottom: 0.5px;
}

.playing-grid {
    width: var(--playing-grid-width);
    max-width: 500px;
    height: var(--playing-grid-height);
    max-height: 500px;

    position: absolute;
    top: 52.5%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5px;

    cursor: pointer;
}

/* Remove Arrow from Select Menu */
.vs-selector select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}

/* For IE10 */
.vs-selector select::-ms-expand {
    display: none;
}

.playing-grid .square {
    border: var(--black-border);
    transition: scale 0.15s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 5rem;
}

.playing-grid .square:hover {
    scale: 95%;
}